/**************************************************************************
GLOBAL
**************************************************************************/

.adminDash_container, .adminPost_container, .adminEdit_container {
  max-width: 1200px;
  margin: 0 auto;
  width: 95vw;
}

button.adminDash_button{
  margin: 2rem 0; 
  font-family: var(--font-body);
  font-weight: 600;
  background-color: var(--clr-accent3);
  padding: .5rem 3rem;
}

button.adminDash_button-delete{
  background-color: red! important;
}
/**************************************************************************
LOGIN
**************************************************************************/

button.admin_button {
  border-radius: 25px;
  width: 100%;
  background-color: var(--clr-accent3);;
}
button.admin_button:hover {
  background-color: var(--clr-accent2);
}

.admin_div {
  max-width: 500px;
  padding: 2rem;
  border: 2px solid rgba(128, 128, 128, 0.66);
  border-radius: 10px;
  margin: 0 auto;
  /* background-color:   var(--clr-accent1); */
}

.admin_input {
  width: 100%;
  height: 2rem;
  border-radius: 5px;
  margin: 2rem 0 ;
  border: 1px solid var(--clr-accent2);
}

.admin_input:focus {
  outline: 2px solid var(--clr-accent3);
}

.admin_h2 {
  margin: 0;
  padding: 0;
}



button.adminDash_button:hover{
  background-color: var(--clr-accent2);
}

a.adminDash_a {
  color: white;
  text-decoration: none;
  font-family: var(--);
}

svg.adminDash_edit {
  color:  var(--clr-accent3);
}
svg.adminDash_edit:hover {
  color:  var(--clr-accent1)
}

/**************************************************************************
NEW & EDIT POST
**************************************************************************/

.adminPost_container, .adminEdit_container{
  max-width: 500px;
  min-width: 250px;
  padding: clamp(.5rem, 2vw, 2rem);
  border: 2px solid rgba(128, 128, 128, 0.66);
  border-radius: 10px;
  margin: 0 auto;
}

button.adminPost_cancel{
  margin-bottom: 1rem;
  color: var(--clr-accent1);
  font-family: var(--font-body);
}

.adminPost_input {
  border-radius: 5px;
  outline: 0;
  border: 0;
  margin: .5rem 0;
  padding: .5rem;
  font-family: var(--font-body);
}
.width-100 {
  width: 100%;
}
.font-body {
  font-family: var(--font-body);
}

span.adminDash_checkbox {
  color: var(--clr-accent1) !important;
  outline: .5px;
}

.adminEdit_img {
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.073);
  display: block;
  height: auto;
  margin: 0 auto;
  max-height: 300px;
  max-width: 80%;
  width: 100%;
}

.adminPostGet_beta {
  color: var(--clr-accent3);
  font-weight: 600;
}

/**************************************************************************
ADMIN DASHNEWPOSTGET
**************************************************************************/

.adminPostGet_container {
  margin: 1rem  auto 2rem auto;
  background-color: rgba(255, 255, 255, 0.484);
  padding: 2rem 1rem;
  border-radius: 15px;
}

.adminPostGet_title{
  font-family: var(--font-body);
}

.adminPostGet_form {
display: flex;
justify-content: center;
width: 100%;
flex-wrap: wrap;
}

.adminPostGet_input {
  width: 100%;
  padding: .5rem;
  outline: 0;
  border: 0;
  border-radius: 5px;
}

button.adminPostGet_button {
  color: var(--clr-accent3)
}