@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;400;700;800&display=swap');

:root {
  --clr-primary:#E1EDED;
  --clr-secondary:#F2ECDD;
  --clr-text: #251E19;
  --clr-accent1:#8B8A76;
  --clr-accent2:#5E4F40;
  --clr-accent3:#99562C;
  --font-title: 'Poppins', sans-serif;
  --font-body: 'Raleway', sans-serif;
}

body {
  background: linear-gradient(332deg, var(--clr-secondary) 0%, var(--clr-primary) 100%);
}

/**************************************************************************
HEADER 
**************************************************************************/

header{
  padding: 20px 20px 20px;
  margin:5px;
}

/**************************************************************************
PRODUCT CARD
**************************************************************************/


/* Working with css grid to make a more responsive design so we dont have to use 
a lot of media queries */
.card-container{
  margin: 0 auto;
  width: 90vw;
  max-width: 1600px;
  display:grid;
  grid-template-columns: repeat(auto-fit,20rem);
  justify-content: center;
  /* background-color: var(--clr-secondary); */
  grid-gap: clamp(1rem, 3vw, 3rem)
}
.image-container{

  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-title{
  width:100%;
}
.product-container{
  border-radius: 25px;
  box-shadow: 2px 2px 3px 3px #5e4f401d;
  padding: 30px;
  background-color: white;
  width: 100%;
}

.card-img{
  height:auto;
  max-height: 100px;
  max-width: 100%;
  width: auto;
  margin: 1rem auto;
}

p.sale-price.card-text{
  font-family: var(--font-body);
  text-align: center;
  font-weight: 500;
}
p.orig-price.card-text{
  font-family: var(--font-body);
  
  text-align: center;
  font-weight: 500;
}
.product-title.card-title.h5{
  font-family: var(--font-title);
  text-align: center;
  font-weight:600;
}


.strikethrough {
  text-decoration: line-through;
}


/**************************************************************************
FOOTER
**************************************************************************/

footer {
  text-align: center;
  font-family: var(--font-body);
  font-size: .75rem;
  margin-top: 2rem;
}