@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;400;700;800&display=swap');

:root {
  --clr-primary:#E1EDED;
  --clr-secondary:#F2ECDD;
  --clr-text: #251E19;
  --clr-accent1:#8B8A76;
  --clr-accent2:#5E4F40;
  --clr-accent3:#99562C;
  --font-title: 'Poppins', sans-serif;
  --font-body: 'Raleway', sans-serif;
}
body {
  background: linear-gradient(332deg, var(--clr-primary) 100%, var(--clr-secondary) 0%);
  height: 100%;
}
/**************************************************************************
HERO
**************************************************************************/

  

/**************************************************************************
HEADER 
**************************************************************************/

header{
  width: 100%;
  max-width: 1600px;
  margin:0 auto;
  display: flex;
  padding: 2rem;
  align-items: center;
  gap: clamp(.5rem, 1vw, 4rem);
  flex-wrap: wrap;
}

.header_logo {
  width: 100%;
  min-width: 15px;
  max-width: 4rem;
  height: auto;  
}

@media  (min-width: 550px) {
  .header_logo {
    margin-left: 3rem
  }
}

.header_title > a  {
  display: inline;
  font-size: clamp(2rem, 5vw, 4rem);
  font-family: var(--font-title);
  width: 100%;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.037);
  text-decoration: none;
  font-weight: 200;
  color: var(--clr-text);
  margin-right: 2rem;
}

.header_subtitle {
  margin: 0;
  font-family: var(--font-title);
  padding: 0;
}
/**************************************************************************
PRODUCT CARD
**************************************************************************/


/* Working with css grid to make a more responsive design so we dont have to use 
a lot of media queries */
.card-container{
  margin: 0 auto;
  width: 90vw;
  max-width: 1600px;
  display:grid;
  grid-template-columns: repeat(auto-fit,20rem);
  justify-content: center;
  /* background-color: var(--clr-secondary); */
  grid-gap: clamp(1rem, 3vw, 3rem)
}
.image-container{
  max-width: 100%;
  min-height: 138px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-title{
  width:100%;
  min-height: 72px;
}
.product-container{
  border-radius: 25px;
  box-shadow: 2px 2px 3px 3px #5e4f401d;
  padding: 30px;
  background-color: white;
  width: 100%;
}

.card-img{
  height:auto;
  max-width: 100%;
  width: auto;
  margin: 1rem auto;
}

@media (min-width: 400px) {
  .card-img {
    height: 125px;
    min-height: 125px;
    
  }
  .image-container{
    min-height: 150px;
    margin: 16px 0;
  }
}

.product-title.card-title.h5{
  font-family: var(--font-title);
  text-align: center;
  font-weight:600;
  margin: 0;

}
p.orig-price.card-text{
  font-family: var(--font-body);
  text-align: center;
  font-weight: 500;
  color: var(--clr-accent2)
}
p.sale-price.card-text{
  font-family: var(--font-body);
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  line-height: 1;
  color: var(--clr-text)
}

.strikethrough {
  text-decoration: line-through;
}

button.productCard_button{
  margin-top: 2rem; 
  font-family: var(--font-body);
  font-weight: 600;
  background-color: var(--clr-accent3);
  padding: .5rem 3rem;
  width: 100%;
}

button.productCard_button:hover{
  background-color: var(--clr-accent2);
}

a.productCard_details {
  text-decoration: none !important;
}

/**************************************************************************
PRODUCT PAGE
**************************************************************************/
button.product_adminButton {
 margin-top: 3rem;
}
a.product_adminLink{
  text-decoration: none;
  color: black;
}

/**************************************************************************
PRODUCT DESCRIPTION PAGE
**************************************************************************/
.description {

}

.description-image {
  height:auto;
  max-height: 500px;
  max-width: 500px;
  width: 95%;
  margin: 1rem auto;
}

.product-description {
  font-family: var(--font-body);
  text-align: center;
  font-weight:600;
  margin: 0;

}
a.product-link {
  color: var(--clr-primary);
  text-decoration: none;
}


/**************************************************************************
FOOTER
**************************************************************************/

footer {
  text-align: center;
  font-family: var(--font-body);
  font-size: .75rem;
  margin-top: 2rem;
}